@page "/about"
@inject IJSRuntime JSRuntime
<div class="content-container">
	<div class="content-title-group not-found">
		<h2 class="title">Tour of Heroes</h2>
		<p>
			This project was created to help represent a fundamental app written
			with Razor Components. The heroes and villains theme is used throughout the app.
		</p>
		<p>by <a href="http://twitter.com/robzelt">Rob Zelt</a></p>
		<p>Original projects by <a href="http://twitter.com/john_papa">John Papa</a></p>
		<br />
		<h2 class="title">Why</h2>
		<p>
			Inspired by John and his love of JavaScript and his open view on
			"which framework is best for you?" I decided to create a version of his
			'Heroes' sample application written using ASP.NET Razor Components. It was
			a great learning experience for me, and hopefully others as well. I will
			be making all of the code available shortly.

		</p>
		<br />
		<h2 class="title">Comparative Apps</h2>
		<ul>
			<li>
				<a href="https://github.com/johnpapa/heroes-angular">github.com/johnpapa/heroes-angular</a>
			</li>
			<li>
				<a href="https://github.com/johnpapa/heroes-react">github.com/johnpapa/heroes-react</a>
			</li>
			<li>
				<a href="https://github.com/johnpapa/heroes-vue">github.com/johnpapa/heroes-vue</a>
			</li>
			<li>
				<a href="https://github.com/robzelt/heroes-razor">github.com/robzelt/heroes-razor</a>
			</li>
		</ul>
		<br />
		<h2 class="title">Live Demos</h2>
		<p>Hosted in <a href="https://aka.ms/jp-free">Azure</a></p>

		<ul>
			<li>
				<a href="https://papa-heroes-angular.azurewebsites.net">Tour of Heroes with Angular</a>
			</li>
			<li>
				<a href="https://papa-heroes-react.azurewebsites.net">Tour of Heroes with React</a>
			</li>
			<li>
				<a href="https://papa-heroes-vue.azurewebsites.net">Tour of Heroes with Vue</a>
			</li>
			<li>
				<a href="https://zelt-heroes-razor.azurewebsites.net">Tour of Heroes with Razor Components</a>
			</li>
			<li>
				<a href="https://zelt-heroes-blazor.azurewebsites.net">Tour of Heroes with Blazor</a>
			</li>
		</ul>
	</div>
</div>



@functions {

	

}