@page "/"
@page "/Heroes"
@using Heroes.Shared
@using Heroes.UI.Areas.Components.Shared
@using Microsoft.AspNetCore.Components.Services

@addTagHelper *, Heroes.UI

@inject HeroState HeroState
@inject IUriHelper UriHelper

<list_header Title="Heroes" OnAdd="addHero"></list_header>
<div>
	@if (selectedHero == null)
	{
		<hero_list heroes="HeroState.Heroes" OnSelect="onSelectedHero" OnDelete="askToDelete" />

	}
	else
	{
		<hero_detail hero="@selectedHero" OnCancelEdit="onCancelEdit" OnSave="onSave" />
	}

	<Modal IsOpen="@ModalIsOpen" Message="@modalMessage" OnNo="closeModal" OnYes="deleteHero" />

</div>

@functions {
	bool ModalIsOpen = false;

	Hero selectedHero;
	Hero heroToDelete = null;
	string modalMessage = "";

	void onSelectedHero(Hero hero)
	{
		selectedHero = hero;
		StateHasChanged();
	}

	void onCancelEdit(Hero hero)
	{
		selectedHero = null;
		StateHasChanged();
	}
	void onSave(Hero hero)
	{
		if (hero.Id != null)
		{
			HeroState.Heroes.First(i => i.Id == hero.Id).Name = hero.Name;
			HeroState.Heroes.First(i => i.Id == hero.Id).Description = hero.Description;
		}
		else
		{
			hero.Id = hero.Name.Replace(" ", "").ToLower();
			HeroState.Heroes.Add(hero);
		}
		selectedHero = null;
		StateHasChanged();
	}
	void askToDelete(Hero targetToDelete)
	{
		ModalIsOpen = true;
		modalMessage = $"Would you like to delete {targetToDelete.Name}?";
		heroToDelete = targetToDelete;
		StateHasChanged();
	}
	void closeModal()
	{
		heroToDelete = null;
		ModalIsOpen = false;
		StateHasChanged();
	}
	void deleteHero()
	{
		ModalIsOpen = false;
		HeroState.Heroes.Remove(HeroState.Heroes.First(i => i.Id == heroToDelete.Id));
		heroToDelete = null;
		StateHasChanged();
	}
	void addHero()
	{
		selectedHero = new Hero();
		StateHasChanged();

	}
}